/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.2002)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Auto]    Script Date: 25/01/2019 10:07:15 ******/
CREATE DATABASE [Auto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Auto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Auto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auto]
GO
USE [Auto]
GO
/****** Object:  Table [dbo].[T_auto]    Script Date: 25/01/2019 10:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_auto](
	[auto_id] [uniqueidentifier] NOT NULL,
	[auto_color] [varchar](20) NOT NULL,
	[auto_anio_fabricacion] [int] NOT NULL,
	[auto_nro_placa] [varchar](10) NOT NULL,
	[auto_nro_asientos] [int] NOT NULL,
	[auto_mecanico] [char](2) NOT NULL,
	[auto_full] [char](2) NOT NULL,
	[marca_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_T_auto] PRIMARY KEY CLUSTERED 
(
	[auto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_marca]    Script Date: 25/01/2019 10:08:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_marca](
	[marca_id] [uniqueidentifier] NOT NULL,
	[marca_nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_T_marca] PRIMARY KEY CLUSTERED 
(
	[marca_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_auto]  WITH CHECK ADD  CONSTRAINT [FK_T_auto_T_marca] FOREIGN KEY([marca_id])
REFERENCES [dbo].[T_marca] ([marca_id])
GO
ALTER TABLE [dbo].[T_auto] CHECK CONSTRAINT [FK_T_auto_T_marca]
GO
USE [master]
GO
